*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
}

#form {
    max-width: 500px !important;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(59 106 39);
    padding: 30px;
    color: white;
    box-shadow: inset 2px 2px 3px 2px #de2;
}

#usersContainer,
#addusercontainer,
#meterinformation {
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 10px #ddd;
    margin-top: 50px;
    padding: 30px;
}

.header-information-user-page,
.header-information-meter-page {
    display: flex;
    justify-content: space-between;
}

nav {
    /* background: rgb(97, 49, 187); */
    /* background-color: yellowgreen !important; */
    background-color: rgb(110, 64, 103);
    color: white;
    padding: 10px;
}

nav a {
    color: white;
}

.login-page {
    font-size: 1.6rem;
}

.login-page input {
    padding: 10px 10px;
}

.login-page input[type="submit"] {
    padding: 5px 20px;
    font-size: 20px;
    margin-right: 20px;
}

